#### 1. Importing Pandas

In [1]:
import pandas as pd

### Opening a local csv file

In [2]:
df =  pd.read_csv('modified_placement.csv')

In [3]:
df.head()

  cgpa     iq placement
0  6,8  123.0       Yes
1  5,9  106.0        No
2  5,3  121.0        No
3  7,4  132.0       Yes
4  5,8  142.0        No

### 3. Opening a csv file from a URL

In [4]:
df1 = pd.read_csv('https://people.sc.fsu.edu/~jburkardt/data/csv/addresses.csv')

In [5]:
df1.head()

,John,Doe,120 jefferson st.,Riverside,NJ,08075
0,Jack,McGinnis,220 hobo Av.,Phila,PA,9119
1,"John ""Da Man""",Repici,120 Jefferson St.,Riverside,NJ,8075
2,Stephen,Tyler,"7452 Terrace ""At the Plaza"" road",SomeTown,SD,91234
3,NaN,Blankman,NaN,SomeTown,SD,298
4,"Joan ""the bone"", Anne",Jet,"9th, at Terrace plc",Desert City,CO,123

### 4. Sep Parameters

In [6]:
url = "https://raw.githubusercontent.com/biopragmatics/bioregistry/main/exports/registry/registry.tsv"
df3 = pd.read_csv(url, sep='\t')

In [7]:
df3.head()

,identifier,name,homepage,description,pattern,example,email,uri_format,download.owl,download.obo,...,rrid,tib,togoid,uniprot,wikidata,wikidata.entity,zazuko,part_of,provides,has_canonical
0,_3dmet,3D Metabolites,http://www.3dmet.dna.affrc.go.jp/,3DMET is a database collecting three-dimension...,^B\d{5}$,B00162,NaN,http://www.3dmet.dna.affrc.go.jp/cgi/show_data...,NaN,NaN,...,NaN,NaN,NaN,NaN,P2796,NaN,NaN,NaN,NaN,NaN
1,_4dn.biosource,4D Nucleome Data Portal Biosource,https://data.4dnucleome.org/biosources,The 4D Nucleome Data Portal hosts data generat...,^4DN[A-Z]{2}[A-Z0-9]{7}$,4DNSR73BT2A2,Job.Dekker@umassmed.edu,https://data.4dnucleome.org/biosources/$1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Q110613621,NaN,NaN,NaN,NaN
2,_4dn.replicate,4D Nucleome Data Portal Experiment Replicate,https://data.4dnucleome.org/experiment-set-rep...,Database portal containing replicate experimen...,NaN,4DNESWX1J3QU,NaN,https://data.4dnucleome.org/experiment-set-rep...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Q110613797,NaN,NaN,NaN,NaN
3,aacdb,Antibody-Antigen Complex Database,https://i.uestc.edu.cn/AACDB,Identifiers represent antibody-antigen complex...,^\d+$,61,hj@uestc.edu.cn,https://i.uestc.edu.cn/AACDB/details.php?id=$1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,aaindex,AAindex,http://www.genome.ad.jp/aaindex/,Identifier of an entry from the AAindex database.,NaN,BUNA790102,shuichi@hgc.jp,http://www.genome.jp/dbget-bin/www_bget?aainde...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Q85738825,NaN,NaN,NaN,NaN

In [8]:
## agar aapke dataset me columns name nhi aa rha to aap ek array pass kr skte hai , inside names parameter 
# df3 = pd.read_csv(url, sep='\t' , names=['identifier','name','homepage','dscription','pattern','example','email'])

### 5.Index_col parameter

In [9]:
pd.read_csv(url, sep='\t',index_col='identifier')

,name,homepage,description,pattern,example,email,uri_format,download.owl,download.obo,synonyms,...,rrid,tib,togoid,uniprot,wikidata,wikidata.entity,zazuko,part_of,provides,has_canonical
identifier,,,,,,,,,,,,,,,,,,,,,
_3dmet,3D Metabolites,http://www.3dmet.dna.affrc.go.jp/,3DMET is a database collecting three-dimension...,^B\d{5}$,B00162,NaN,http://www.3dmet.dna.affrc.go.jp/cgi/show_data...,NaN,NaN,3dmet,...,NaN,NaN,NaN,NaN,P2796,NaN,NaN,NaN,NaN,NaN
_4dn.biosource,4D Nucleome Data Portal Biosource,https://data.4dnucleome.org/biosources,The 4D Nucleome Data Portal hosts data generat...,^4DN[A-Z]{2}[A-Z0-9]{7}$,4DNSR73BT2A2,Job.Dekker@umassmed.edu,https://data.4dnucleome.org/biosources/$1,NaN,NaN,4DN|4dn.biosource,...,NaN,NaN,NaN,NaN,NaN,Q110613621,NaN,NaN,NaN,NaN
_4dn.replicate,4D Nucleome Data Portal Experiment Replicate,https://data.4dnucleome.org/experiment-set-rep...,Database portal containing replicate experimen...,NaN,4DNESWX1J3QU,NaN,https://data.4dnucleome.org/experiment-set-rep...,NaN,NaN,4dn.replicate,...,NaN,NaN,NaN,NaN,NaN,Q110613797,NaN,NaN,NaN,NaN
aacdb,Antibody-Antigen Complex Database,https://i.uestc.edu.cn/AACDB,Identifiers represent antibody-antigen complex...,^\d+$,61,hj@uestc.edu.cn,https://i.uestc.edu.cn/AACDB/details.php?id=$1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
aaindex,AAindex,http://www.genome.ad.jp/aaindex/,Identifier of an entry from the AAindex database.,NaN,BUNA790102,shuichi@hgc.jp,http://www.genome.jp/dbget-bin/www_bget?aainde...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Q85738825,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zfa,Zebrafish anatomy and development ontology,https://wiki.zfin.org/display/general/Anatomy+...,ZFA description.,^\d{7}$,0005926,van_slyke@zfin.org,http://purl.obolibrary.org/obo/ZFA_$1,NaN,NaN,ZFA_RETIRED,...,NaN,NaN,NaN,NaN,NaN,Q81661530,NaN,NaN,NaN,NaN
zfin,Zebrafish Information Network Gene,http://zfin.org,ZFIN serves as the zebrafish model organism da...,^ZDB\-\w+\-\d+\-\d+$,ZDB-GENE-041118-11,dhowe@zfin.org,http://zfin.org/$1,NaN,NaN,ZFIN,...,ZIRC,NaN,NaN,DB-0113,P3870,NaN,NaN,NaN,NaN,NaN
zfs,Zebrafish developmental stages ontology,https://wiki.zfin.org/display/general/Anatomy+...,Developmental stages of the Zebrafish,^\d{7}$,0000050,van_slyke@zfin.org,http://purl.obolibrary.org/obo/ZFS_$1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Q81661847,NaN,NaN,NaN,NaN
zinc,ZINC is not Commercial,http://zinc15.docking.org/,ZINC is a free public resource for ligand disc...,^(ZINC)?\d+$,ZINC1084,NaN,http://zinc15.docking.org/substances/$1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,P2084,NaN,NaN,NaN,NaN,NaN
zp,Zebrafish Phenotype Ontology,https://github.com/obophenotype/zebrafish-phen...,The Zebrafish Phenotype Ontology formally defi...,^\d+$,0019030,ybradford@zfin.org,http://purl.obolibrary.org/obo/ZP_$1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Q81661852,NaN,NaN,NaN,NaN

### 6.Header Parameter

In [10]:
## this problem generates when the pandas misunderstood the column names with rows and unamed the columns and name the column names as first row 

pd.read_csv(url, sep='\t', header=1)

,_3dmet,3D Metabolites,http://www.3dmet.dna.affrc.go.jp/,3DMET is a database collecting three-dimensional structures of natural metabolites.,^B\d{5}$,B00162,Unnamed: 6,http://www.3dmet.dna.affrc.go.jp/cgi/show_data.php?acc=$1,Unnamed: 8,Unnamed: 9,...,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,P2796,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43
0,_4dn.biosource,4D Nucleome Data Portal Biosource,https://data.4dnucleome.org/biosources,The 4D Nucleome Data Portal hosts data generat...,^4DN[A-Z]{2}[A-Z0-9]{7}$,4DNSR73BT2A2,Job.Dekker@umassmed.edu,https://data.4dnucleome.org/biosources/$1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Q110613621,NaN,NaN,NaN,NaN
1,_4dn.replicate,4D Nucleome Data Portal Experiment Replicate,https://data.4dnucleome.org/experiment-set-rep...,Database portal containing replicate experimen...,NaN,4DNESWX1J3QU,NaN,https://data.4dnucleome.org/experiment-set-rep...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Q110613797,NaN,NaN,NaN,NaN
2,aacdb,Antibody-Antigen Complex Database,https://i.uestc.edu.cn/AACDB,Identifiers represent antibody-antigen complex...,^\d+$,61,hj@uestc.edu.cn,https://i.uestc.edu.cn/AACDB/details.php?id=$1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,aaindex,AAindex,http://www.genome.ad.jp/aaindex/,Identifier of an entry from the AAindex database.,NaN,BUNA790102,shuichi@hgc.jp,http://www.genome.jp/dbget-bin/www_bget?aainde...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Q85738825,NaN,NaN,NaN,NaN
4,aao,Amphibian gross anatomy,http://github.com/seger/aao,A structured controlled vocabulary of the anat...,^\d{7}$,0000138,david.c.blackburn@gmail.com,http://purl.obolibrary.org/obo/AAO_$1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Q114677701,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2549,zfa,Zebrafish anatomy and development ontology,https://wiki.zfin.org/display/general/Anatomy+...,ZFA description.,^\d{7}$,0005926,van_slyke@zfin.org,http://purl.obolibrary.org/obo/ZFA_$1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Q81661530,NaN,NaN,NaN,NaN
2550,zfin,Zebrafish Information Network Gene,http://zfin.org,ZFIN serves as the zebrafish model organism da...,^ZDB\-\w+\-\d+\-\d+$,ZDB-GENE-041118-11,dhowe@zfin.org,http://zfin.org/$1,NaN,NaN,...,ZIRC,NaN,NaN,DB-0113,P3870,NaN,NaN,NaN,NaN,NaN
2551,zfs,Zebrafish developmental stages ontology,https://wiki.zfin.org/display/general/Anatomy+...,Developmental stages of the Zebrafish,^\d{7}$,0000050,van_slyke@zfin.org,http://purl.obolibrary.org/obo/ZFS_$1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Q81661847,NaN,NaN,NaN,NaN
2552,zinc,ZINC is not Commercial,http://zinc15.docking.org/,ZINC is a free public resource for ligand disc...,^(ZINC)?\d+$,ZINC1084,NaN,http://zinc15.docking.org/substances/$1,NaN,NaN,...,NaN,NaN,NaN,NaN,P2084,NaN,NaN,NaN,NaN,NaN
2553,zp,Zebrafish Phenotype Ontology,https://github.com/obophenotype/zebrafish-phen...,The Zebrafish Phenotype Ontology formally defi...,^\d+$,0019030,ybradford@zfin.org,http://purl.obolibrary.org/obo/ZP_$1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Q81661852,NaN,NaN,NaN,NaN

### 7. use_cols parameters

In [11]:
## not neccesaraly you will not use the columns 
pd.read_csv(url, sep='\t' ,usecols = ['name','example','email'])

,name,example,email
0,3D Metabolites,B00162,NaN
1,4D Nucleome Data Portal Biosource,4DNSR73BT2A2,Job.Dekker@umassmed.edu
2,4D Nucleome Data Portal Experiment Replicate,4DNESWX1J3QU,NaN
3,Antibody-Antigen Complex Database,61,hj@uestc.edu.cn
4,AAindex,BUNA790102,shuichi@hgc.jp
...,...,...,...
2550,Zebrafish anatomy and development ontology,0005926,van_slyke@zfin.org
2551,Zebrafish Information Network Gene,ZDB-GENE-041118-11,dhowe@zfin.org
2552,Zebrafish developmental stages ontology,0000050,van_slyke@zfin.org
2553,ZINC is not Commercial,ZINC1084,NaN
2554,Zebrafish Phenotype Ontology,0019030,ybradford@zfin.org

### 8 .Squeeze parameters

In [12]:
## when you have to use a series object means only one columns 

iq = pd.read_csv('modified_placement.csv', usecols=['iq'])['iq']

In [13]:
iq

0     123.0
1     106.0
2     121.0
3     132.0
4     142.0
      ...
95    200.0
96     42.0
97    182.0
98    103.0
99    113.0
Name: iq, Length: 100, dtype: float64

### 9 . skiprows/nrows parameters

In [14]:
pd.read_csv("modified_placement.csv", skiprows=[0, 2, 4])

    6,8  123.0  Yes
0   5,3  121.0   No
1   5,8  142.0   No
2   7,1   48.0  Yes
3   5,7  143.0   No
4   5,0   63.0   No
..  ...    ...  ...
92  4,3  200.0   No
93  4,4   42.0   No
94  6,7  182.0  Yes
95  6,3  103.0  Yes
96  6,2  113.0  Yes

[97 rows x 3 columns]

#### `skiprows` and `nrows` Parameters in `pandas.read_csv()`

#### Overview

The `skiprows` and `nrows` parameters in `pandas.read_csv()` control **which rows** and **how many rows** are read from a CSV (or similar delimited) file. These parameters are especially useful when working with **large datasets**, **sampling data**, or **files containing metadata rows**.

---

#### `skiprows`

#### Description

Specifies rows to skip when reading the file.

#### Syntax

```python
pd.read_csv(filepath, skiprows=...)
```

#### Accepted Values

* **int** – Skip the first *n* rows
* **list of int** – Skip specific row indices
* **callable** – Function that returns `True` for rows to skip

#### Examples

```python
# Skip first 5 rows
pd.read_csv("data.csv", skiprows=5)

# Skip specific rows
pd.read_csv("data.csv", skiprows=[0, 2, 4])

# Skip rows conditionally
pd.read_csv("data.csv", skiprows=lambda x: x % 2 == 0)
```

#### Notes

* Row indexing starts from **0**
* Skipping the header row may require setting `header=None`

---

#### `nrows`

### Description

Limits the number of rows read from the file.

### Syntax

```python
pd.read_csv(filepath, nrows=...)
```

### Accepted Values

* **int** – Number of rows to read

### Examples

```python
# Read first 10 rows only
pd.read_csv("data.csv", nrows=10)
```

---

## Using `skiprows` and `nrows` Together

### Description

Allows reading a **specific range of rows**, useful for batch processing or partial loading.

### Example

```python
# Read rows 100 to 199
pd.read_csv("data.csv", skiprows=100, nrows=100)
```

---

## Use Cases

* Reading large files efficiently
* Ignoring metadata or comments at the top of files
* Previewing datasets
* Processing data in chunks

---

## Summary

| Parameter  | Purpose                    |
| ---------- | -------------------------- |
| `skiprows` | Skips unwanted rows        |
| `nrows`    | Limits number of rows read |

Both parameters help improve **performance**, **memory usage**, and **data handling flexibility**.

### 10. Encoding Parameters

In [15]:
!pip install kaggle

Requirement already satisfied: kaggle in c:\users\diwan\appdata\local\programs\python\python311\lib\site-packages (1.8.3)
Requirement already satisfied: black>=24.10.0 in c:\users\diwan\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (25.12.0)
Requirement already satisfied: bleach in c:\users\diwan\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (6.1.0)
Requirement already satisfied: kagglesdk<1.0,>=0.1.14 in c:\users\diwan\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (0.1.14)
Requirement already satisfied: mypy>=1.15.0 in c:\users\diwan\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (1.19.1)
Requirement already satisfied: packaging in c:\users\diwan\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (24.2)
Requirement already satisfied: protobuf in c:\users\diwan\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (5.29.5)
Requirement already satisfied: python-dateutil in c:\users\diwan\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: python-slugify in c:\users\diwan\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (8.0.4)
Requirement already satisfied: requests in c:\users\diwan\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (2.32.5)
Requirement already satisfied: six>=1.10 in c:\users\diwan\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (1.17.0)
Requirement already satisfied: tqdm in c:\users\diwan\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (4.66.1)
Requirement already satisfied: types-requests in c:\users\diwan\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (2.32.4.20250913)
Requirement already satisfied: types-tqdm in c:\users\diwan\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (4.67.0.20250809)
Requirement already satisfied: urllib3>=1.15.1 in c:\users\diwan\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (2.5.0)
Requirement already satisfied: click>=8.0.0 in c:\users\diwan\appdata\local\programs\python\python311\lib\site-packages (from black>=24.10.0->kaggle) (8.2.1)
Requirement already satisfied: mypy-extensions>=0.4.3 in c:\users\diwan\appdata\local\programs\python\python311\lib\site-packages (from black>=24.10.0->kaggle) (1.1.0)
Requirement already satisfied: pathspec>=0.9.0 in c:\users\diwan\appdata\local\programs\python\python311\lib\site-packages (from black>=24.10.0->kaggle) (1.0.1)
Requirement already satisfied: platformdirs>=2 in c:\users\diwan\appdata\local\programs\python\python311\lib\site-packages (from black>=24.10.0->kaggle) (3.11.0)
Requirement already satisfied: pytokens>=0.3.0 in c:\users\diwan\appdata\local\programs\python\python311\lib\site-packages (from black>=24.10.0->kaggle) (0.3.0)
Requirement already satisfied: colorama in c:\users\diwan\appdata\local\programs\python\python311\lib\site-packages (from click>=8.0.0->black>=24.10.0->kaggle) (0.4.6)
Requirement already satisfied: typing_extensions>=4.6.0 in c:\users\diwan\appdata\local\programs\python\python311\lib\site-packages (from mypy>=1.15.0->kaggle) (4.15.0)
Requirement already satisfied: librt>=0.6.2 in c:\users\diwan\appdata\local\programs\python\python311\lib\site-packages (from mypy>=1.15.0->kaggle) (0.7.7)
Requirement already satisfied: webencodings in c:\users\diwan\appdata\local\programs\python\python311\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\diwan\appdata\local\programs\python\python311\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\diwan\appdata\local\programs\python\python311\lib\site-packages (from requests->kaggle) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\diwan\appdata\local\programs\python\python311\lib\site-packages (from requests->kaggle) (3.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\diwan\appdata\local\programs\python\python311\lib\site-packages (from requests->kaggle) (2025.8.3)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [16]:
!kaggle datasets download rtatman/character-encoding-examples

Dataset URL: https://www.kaggle.com/datasets/rtatman/character-encoding-examples
License(s): CC0-1.0
Downloading character-encoding-examples.zip to E:\bhandaara\100daysOfML\video15\dataGathering

  0%|          | 0.00/321k [00:00<?, ?B/s]
100%|##########| 321k/321k [00:01<00:00, 274kB/s]
100%|##########| 321k/321k [00:01<00:00, 273kB/s]

In [17]:
import os
os.listdir("character-encoding-examples")

['die_ISO-8859-1.txt',
 'file_guide.csv',
 'harpers_ASCII.txt',
 'olaf_Windows-1251.txt',
 'portugal_ISO-8859-1.txt',
 'shisei_UTF-8.txt',
 'yan_BIG-5.txt']

In [18]:
import os
import pandas as pd

base_path = "character-encoding-examples"

# Encoding map for each file
encoding_map = {
    "die_ISO-8859-1.txt": "latin-1",
    "portugal_ISO-8859-1.txt": "latin-1",
    "harpers_ASCII.txt": "ascii",
    "olaf_Windows-1251.txt": "cp1251",
    "shisei_UTF-8.txt": "utf-8",
    "yan_BIG-5.txt": "big5",
}

dataframes = {}

for file, enc in encoding_map.items():
    file_path = os.path.join(base_path, file)
    
    df = pd.read_csv(
        file_path,
        encoding=enc,
        sep="\t",                # safe default for txt files
        engine="python",         # tolerant parser
        on_bad_lines="skip"      # skip malformed rows
    )
    
    dataframes[file] = df
    print(f"Loaded {file}: {df.shape}")

Loaded die_ISO-8859-1.txt: (1289, 1)
Loaded portugal_ISO-8859-1.txt: (2043, 1)
Loaded harpers_ASCII.txt: (2764, 1)
Loaded olaf_Windows-1251.txt: (300, 1)
Loaded shisei_UTF-8.txt: (1769, 1)
Loaded yan_BIG-5.txt: (439, 1)

### 11. Skip bad lines

In [19]:
## If beech-beech me kuch rows kharaab hain
import pandas as pd

df = pd.read_csv(
    'BX-Books.csv',
    sep=';',
    encoding='latin-1',
    on_bad_lines='skip'
)

FileNotFoundError: [Errno 2] No such file or directory: 'BX-Books.csv'

In [ ]:
# Agar data zyada messy ho
df = pd.read_csv(
    'BX-Books.csv',
    sep=';',
    encoding='latin-1',
    engine='python',
    on_bad_lines='skip'
)

### 12. dtypes parameter

In [ ]:
# for example agar apake dataset me kuch particular columns ki values float me hain magar aapko unko integers me krna hai 
# btw you can check the values using .info function
df =  pd.read_csv('modified_placement.csv')

In [ ]:
df

In [ ]:
df.info()

In [ ]:
pd.read_csv(
    'modified_placement.csv',
    dtype={'iq': 'Int64'}   # capital I
).info()

### 13 . Handling Dates

In [20]:
## by default date columns ko as string paas kia jaata hai in read_csv , parse_dates = ['date']

In [24]:
pd.read_csv('matches.csv', parse_dates = ['date']).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1095 non-null   int64
 1   season           1095 non-null   object
 2   city             1044 non-null   object
 3   date             1095 non-null   datetime64[ns]
 4   match_type       1095 non-null   object
 5   player_of_match  1090 non-null   object
 6   venue            1095 non-null   object
 7   team1            1095 non-null   object
 8   team2            1095 non-null   object
 9   toss_winner      1095 non-null   object
 10  toss_decision    1095 non-null   object
 11  winner           1090 non-null   object
 12  result           1095 non-null   object
 13  result_margin    1076 non-null   float64
 14  target_runs      1092 non-null   float64
 15  target_overs     1092 non-null   float64
 16  super_over       1095 non-null   object
 17  method           21 non-null     object
 18  umpire1          1095 non-null   object
 19  umpire2          1095 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(1), object(15)
memory usage: 171.2+ KB

In [25]:
## jaha month , day alag hai date mein to unko ek sath ek column me likh skte hai

### 14 . Convertors

In [38]:
def rename(name):
    if name == 'Royal Challengers Bangalore':
        return 'RCB'
    else:
        return name

In [39]:
rename('Royal Challengers Bangalore')

'RCB'

In [41]:
pd.read_csv('matches.csv' , converters={'team1':rename})

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,RCB,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,1426307,2024,Hyderabad,2024-05-19,League,Abhishek Sharma,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Punjab Kings,Sunrisers Hyderabad,Punjab Kings,bat,Sunrisers Hyderabad,wickets,4.0,215.0,20.0,N,NaN,Nitin Menon,VK Sharma
1091,1426309,2024,Ahmedabad,2024-05-21,Qualifier 1,MA Starc,"Narendra Modi Stadium, Ahmedabad",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,160.0,20.0,N,NaN,AK Chaudhary,R Pandit
1092,1426310,2024,Ahmedabad,2024-05-22,Eliminator,R Ashwin,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bengaluru,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,4.0,173.0,20.0,N,NaN,KN Ananthapadmanabhan,MV Saidharshan Kumar
1093,1426311,2024,Chennai,2024-05-24,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,Sunrisers Hyderabad,runs,36.0,176.0,20.0,N,NaN,Nitin Menon,VK Sharma
1094,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,114.0,20.0,N,NaN,J Madanagopal,Nitin Menon

### 15.na_values parameters

In [44]:
## missing values treatment 
pd.read_csv('matches.csv', na_values=['League',])

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,NaN,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,NaN,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,NaN,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,NaN,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,NaN,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,1426307,2024,Hyderabad,2024-05-19,NaN,Abhishek Sharma,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Punjab Kings,Sunrisers Hyderabad,Punjab Kings,bat,Sunrisers Hyderabad,wickets,4.0,215.0,20.0,N,NaN,Nitin Menon,VK Sharma
1091,1426309,2024,Ahmedabad,2024-05-21,Qualifier 1,MA Starc,"Narendra Modi Stadium, Ahmedabad",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,160.0,20.0,N,NaN,AK Chaudhary,R Pandit
1092,1426310,2024,Ahmedabad,2024-05-22,Eliminator,R Ashwin,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bengaluru,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,4.0,173.0,20.0,N,NaN,KN Ananthapadmanabhan,MV Saidharshan Kumar
1093,1426311,2024,Chennai,2024-05-24,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,Sunrisers Hyderabad,runs,36.0,176.0,20.0,N,NaN,Nitin Menon,VK Sharma
1094,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,114.0,20.0,N,NaN,J Madanagopal,Nitin Menon

### 16. Loading a huge dataset in chunks

In [52]:
dfs = pd.read_csv('matches.csv',chunksize=5000)

In [53]:
for chunks in dfs:
    print(chunks.shape)

(1095, 20)