Understanding the data:

Asking basic question(Video 19)
EDA(univariate analysis)[video 20]
EDA(multivariate analysis)[video 21]
pandas profiler[video 22]

In [3]:
## titanic dataset
import pandas as pd

In [5]:
df = pd.read_csv('test.csv')

In [7]:
df.head(21)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez
5,0027_01,Earth,False,F/7/P,TRAPPIST-1e,31.0,False,0.0,1615.0,263.0,113.0,60.0,Karlen Ricks
6,0029_01,Europa,True,B/2/P,55 Cancri e,21.0,False,0.0,NaN,0.0,0.0,0.0,Aldah Ainserfle
7,0032_01,Europa,True,D/0/S,TRAPPIST-1e,20.0,False,0.0,0.0,0.0,0.0,0.0,Acrabi Pringry
8,0032_02,Europa,True,D/0/S,55 Cancri e,23.0,False,0.0,0.0,0.0,0.0,0.0,Dhena Pringry
9,0033_01,Earth,False,F/7/S,55 Cancri e,24.0,False,0.0,639.0,0.0,0.0,0.0,Eliana Delazarson
10,0037_01,Earth,False,F/9/S,TRAPPIST-1e,19.0,False,339.0,3.0,136.0,237.0,0.0,Vivia Rickson
11,0040_01,Europa,False,D/2/P,TRAPPIST-1e,45.0,False,932.0,74.0,NaN,7.0,1010.0,Antino Pinoffent
12,0040_02,Europa,False,D/2/P,TRAPPIST-1e,44.0,False,0.0,1561.0,0.0,14.0,224.0,Jihda Pinoffent
13,0042_01,Mars,True,E/0/P,TRAPPIST-1e,46.0,False,0.0,0.0,0.0,0.0,0.0,Hamus Frité
14,0046_01,Earth,False,G/4/P,TRAPPIST-1e,21.0,False,0.0,0.0,0.0,1687.0,92.0,Neilda Powery
15,0046_02,Earth,False,F/11/P,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,903.0,NaN,Glene Powery
16,0046_03,Earth,False,F/11/P,TRAPPIST-1e,20.0,False,2.0,12.0,253.0,457.0,690.0,Joanny Powery
17,0047_01,Europa,True,B/0/S,TRAPPIST-1e,44.0,False,0.0,0.0,0.0,0.0,0.0,Winonon Prucerod
18,0047_02,Europa,False,NaN,TRAPPIST-1e,29.0,False,0.0,7708.0,243.0,569.0,343.0,Muons Prucerod
19,0047_03,Europa,False,B/0/S,TRAPPIST-1e,40.0,False,26.0,1925.0,8.0,3144.0,63.0,NaN
20,0048_01,Earth,False,G/5/S,TRAPPIST-1e,30.0,False,0.0,878.0,26.0,3.0,0.0,Tyle Deckerry

In [8]:
# i generally ask 7 question

In [10]:
# 1) How big is the data?

df.shape

(4277, 13)

In [13]:
# 2) How does the data look like?
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [16]:
df.sample(5) ## random 5 rows

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
2005,4313_01,NaN,False,E/280/S,TRAPPIST-1e,29.0,True,168.0,0.0,881.0,0.0,0.0,Rans Blan
1619,3498_01,Earth,False,F/657/S,PSO J318.5-22,22.0,False,674.0,0.0,0.0,11.0,0.0,Amela River
2580,5649_01,Mars,True,F/1170/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Beres Chene
765,1554_02,Earth,False,F/304/P,TRAPPIST-1e,30.0,False,0.0,0.0,704.0,0.0,0.0,Robyna Reenez
217,0478_02,Europa,True,C/14/P,55 Cancri e,37.0,False,0.0,0.0,0.0,0.0,0.0,Aldun Mallisly

In [17]:
# 3) what is the data type of cols?? 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4190 non-null   object
 2   CryoSleep     4184 non-null   object
 3   Cabin         4177 non-null   object
 4   Destination   4185 non-null   object
 5   Age           4186 non-null   float64
 6   VIP           4184 non-null   object
 7   RoomService   4195 non-null   float64
 8   FoodCourt     4171 non-null   float64
 9   ShoppingMall  4179 non-null   float64
 10  Spa           4176 non-null   float64
 11  VRDeck        4197 non-null   float64
 12  Name          4183 non-null   object
dtypes: float64(6), object(7)
memory usage: 434.5+ KB

#### 4)are there any missing values in data ?

In [21]:
df.isnull().sum()

PassengerId       0
HomePlanet       87
CryoSleep        93
Cabin           100
Destination      92
Age              91
VIP              93
RoomService      82
FoodCourt       106
ShoppingMall     98
Spa             101
VRDeck           80
Name             94
dtype: int64

#### 5) how does the data looks mathematically?

In [24]:
df.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,4186.000000,4195.000000,4171.000000,4179.000000,4176.000000,4197.000000
mean,28.658146,219.266269,439.484296,177.295525,303.052443,310.710031
std,14.179072,607.011289,1527.663045,560.821123,1117.186015,1246.994742
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,26.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,37.000000,53.000000,78.000000,33.000000,50.000000,36.000000
max,79.000000,11567.000000,25273.000000,8292.000000,19844.000000,22272.000000

#### 6) is there any duplicate values ?

In [26]:
df.duplicated().sum()

0

#### 7 ) Is there any corelation b/w cols?

In [28]:
df_numeric = df.select_dtypes(include=['int64', 'float64'])

In [29]:
df_numeric.corr()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
Age,1.000000,0.064097,0.111073,0.039249,0.108344,0.102743
RoomService,0.064097,1.000000,-0.030233,0.064501,0.006342,-0.032827
FoodCourt,0.111073,-0.030233,1.000000,0.027809,0.244851,0.278152
ShoppingMall,0.039249,0.064501,0.027809,1.000000,0.003094,0.029857
Spa,0.108344,0.006342,0.244851,0.003094,1.000000,0.143291
VRDeck,0.102743,-0.032827,0.278152,0.029857,0.143291,1.000000

In [30]:
df_numeric.corr()['FoodCourt']

Age             0.111073
RoomService    -0.030233
FoodCourt       1.000000
ShoppingMall    0.027809
Spa             0.244851
VRDeck          0.278152
Name: FoodCourt, dtype: float64