In [24]:
import pandas as pd
import requests

In [25]:
response = requests.get('https://www.omdbapi.com/?apikey=41a5eecb&s=batman&page=1')

In [26]:
## response 200 : everything is well
## response 404 : the thing you are searching for is not available
## response 500 : server down

In [27]:
df = pd.DataFrame(response.json()['Search'])[['Title','Year']]

In [28]:
df.head()

                                Title  Year
0                       Batman Begins  2005
1                          The Batman  2022
2  Batman v Superman: Dawn of Justice  2016
3  Batman v Superman: Dawn of Justice  2016
4                              Batman  1989

In [29]:
## when we have too much data we can actually : fetch them in a loop one by one

In [30]:
df1 = pd.DataFrame()

In [31]:
df1

Empty DataFrame
Columns: []
Index: []

In [32]:
import requests
import pandas as pd

API_KEY = "41a5eecb"
BASE_URL = "https://www.omdbapi.com/"

all_results = []

for page in range(1, 630):
    params = {
        "apikey": API_KEY,
        "s": "batman",
        "page": page
    }

    response = requests.get(BASE_URL, params=params)
    data = response.json()

    # Stop if no results are returned
    if "Search" not in data:
        print(f"Stopped at page {page}")
        break

    temp_df = pd.DataFrame(data["Search"])[["Title", "Year"]]
    all_results.append(temp_df)

# Combine all pages into one DataFrame
df = pd.concat(all_results, ignore_index=True)

print(df.head())
print(f"Total records: {len(df)}")

Stopped at page 64
                                Title  Year
0                       Batman Begins  2005
1                          The Batman  2022
2  Batman v Superman: Dawn of Justice  2016
3  Batman v Superman: Dawn of Justice  2016
4                              Batman  1989
Total records: 630

In [33]:
df

                                           Title   Year
0                                  Batman Begins   2005
1                                     The Batman   2022
2             Batman v Superman: Dawn of Justice   2016
3             Batman v Superman: Dawn of Justice   2016
4                                         Batman   1989
..                                           ...    ...
625                   El día que conocí a Batman   2009
626  Vice Press x Thought Bubble Present: Batman   1989
627                    Batman: A Taste of Terror   2023
628                         The Batman Plancarte   2022
629                        Batman: Just A Mortal  2023–

[630 rows x 2 columns]

In [35]:
df.shape

(630, 2)

In [36]:
df.to_csv('movies.csv')