### working with json

In [1]:
import pandas as pd

In [2]:
pd.read_json('train.json')

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

In [4]:
pd.read_json('https://api.exchangerate-api.com/v4/latest/USD')

,provider,WARNING_UPGRADE_TO_V6,terms,base,date,time_last_updated,rates
USD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2026-01-07,1767744001,1.00
AED,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2026-01-07,1767744001,3.67
AFN,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2026-01-07,1767744001,66.04
ALL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2026-01-07,1767744001,82.49
AMD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2026-01-07,1767744001,381.16
...,...,...,...,...,...,...,...
YER,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2026-01-07,1767744001,238.52
ZAR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2026-01-07,1767744001,16.37
ZMW,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2026-01-07,1767744001,21.03
ZWG,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2026-01-07,1767744001,25.87
ZWL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2026-01-07,1767744001,25.87

### working with SQL

# Working with SQL Dataset using XAMPP + Jupyter Notebook

## 1. Local Database Setup

* Installed **XAMPP on Windows**
* Started **Apache** and **MySQL** services from XAMPP Control Panel
* Opened **phpMyAdmin** using:

  ```
  http://localhost/phpmyadmin/
  ```

## 2. Database & Table Creation

* Created a new **database** (example: `dataset_name`)
* Created required **tables** (example: `city`)
* Uploaded / imported data into tables using phpMyAdmin

## 3. Jupyter Notebook Environment

* Opened Jupyter Notebook from local system
* Installed MySQL connector:

  ```bash
  pip install mysql-connector-python
  ```

## 4. Connecting MySQL to Jupyter

* Imported required libraries:

  ```python
  import mysql.connector
  import pandas as pd
  ```

* Established MySQL connection:

  ```python
  connection = mysql.connector.connect(
      host='localhost',
      user='root',
      password='',
      database='dataset_name'
  )
  ```

* Successful connection shows:

  ```
  <mysql.connector.connection.MySQLConnection at 0x...>
  ```

## 5. Reading SQL Data into Pandas

* Used SQL query to load table into DataFrame:

  ```python
  df = pd.read_sql_query("SELECT * FROM city", connection)
  ```

* Verified data using:

  ```python
  df.head()
  ```

## 6. Closing the Connection (Best Practice)

```python
connection.close()
```

## 7. Recommended Improvement (Industry Practice)

### Using SQLAlchemy (More Stable with Pandas)

```python
from sqlalchemy import create_engine

engine = create_engine(
    "mysql+mysqlconnector://root:@localhost/dataset_name"
)

df = pd.read_sql("SELECT * FROM city", engine)
```

## 8. Why This Workflow is Correct

* Industry-standard local SQL workflow
* Separates **data storage (MySQL)** from **analysis (Python/Pandas)**
* Scalable to large datasets
* Resume / project friendly

## 9. Next Steps

* Perform **EDA using Pandas**
* Write **JOIN queries** across multiple tables
* Compare **SQL vs Pandas data cleaning**
* Build a **resume-grade SQL + Python

In [6]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.5.0-cp311-cp311-win_amd64.whl.metadata (7.5 kB)
Downloading mysql_connector_python-9.5.0-cp311-cp311-win_amd64.whl (16.5 MB)
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   -- ------------------------------------- 1.0/16.5 MB 6.3 MB/s eta 0:00:03
   ---- ----------------------------------- 1.8/16.5 MB 4.8 MB/s eta 0:00:04
   ------ --------------------------------- 2.6/16.5 MB 4.3 MB/s eta 0:00:04
   -------- ------------------------------- 3.4/16.5 MB 4.3 MB/s eta 0:00:04
   ---------- ----------------------------- 4.5/16.5 MB 4.2 MB/s eta 0:00:03
   ------------ --------------------------- 5.2/16.5 MB 4.1 MB/s eta 0:00:03
   -------------- ------------------------- 6.0/16.5 MB 4.1 MB/s eta 0:00:03
   ---------------- ----------------------- 6.8/16.5 MB 4.1 MB/s eta 0:00:03
   ------------------ --------------------- 7.6/16.5 MB 4.1 MB/s eta 0:00:03
   -------------------- ------------------- 8.4/16.5 MB 4.1 MB/s eta 0:00:02
   ---------------------- ----------------- 9.2/16.5 MB 4.0 MB/s eta 0:00:02
   ------------------------ --------------- 10.2/16.5 MB 4.0 MB/s eta 0:00:02
   -------------------------- ------------- 11.0/16.5 MB 4.0 MB/s eta 0:00:02
   ---------------------------- ----------- 11.8/16.5 MB 4.0 MB/s eta 0:00:02
   ------------------------------ --------- 12.6/16.5 MB 4.0 MB/s eta 0:00:01
   -------------------------------- ------- 13.4/16.5 MB 4.0 MB/s eta 0:00:01
   ---------------------------------- ----- 14.2/16.5 MB 4.0 MB/s eta 0:00:01
   ------------------------------------ --- 15.2/16.5 MB 4.0 MB/s eta 0:00:01
   ------------------------------------- -- 15.5/16.5 MB 3.9 MB/s eta 0:00:01
   ---------------------------------------  16.3/16.5 MB 4.0 MB/s eta 0:00:01
   ---------------------------------------- 16.5/16.5 MB 3.9 MB/s  0:00:04
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.5.0

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
!pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     --- ------------------------------------ 1.0/11.9 MB 5.6 MB/s eta 0:00:02
     ------ --------------------------------- 1.8/11.9 MB 4.6 MB/s eta 0:00:03
     -------- ------------------------------- 2.6/11.9 MB 4.4 MB/s eta 0:00:03
     ----------- ---------------------------- 3.4/11.9 MB 4.2 MB/s eta 0:00:03
     -------------- ------------------------- 4.2/11.9 MB 4.1 MB/s eta 0:00:02
     ---------------- ----------------------- 5.0/11.9 MB 4.1 MB/s eta 0:00:02
     ------------------- -------------------- 5.8/11.9 MB 4.0 MB/s eta 0:00:02
     ---------------------- ----------------- 6.6/11.9 MB 4.0 MB/s eta 0:00:02
     ------------------------ --------------- 7.3/11.9 MB 3.9 MB/s eta 0:00:02
     --------------------------- ------------ 8.1/11.9 MB 3.9 MB/s eta 0:00:01
     ------------------------------ --------- 8.9/11.9 MB 3.9 MB/s eta 0:00:01
     ------------------------------- -------- 9.4/11.9 MB 3.8 MB/s eta 0:00:01
     ---------------------------------- ----- 10.2/11.9 MB 3.7 MB/s eta 0:00:01
     ------------------------------------- -- 11.0/11.9 MB 3.7 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 3.8 MB/s eta 0:00:01
     ---------------------------------------- 11.9/11.9 MB 3.7 MB/s  0:00:03
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp311-cp311-win_amd64.whl size=248040 sha256=e71790581f538c874098dd56b70ff3c87b27088a116b47c1c6987a7f8bfe0853
  Stored in directory: c:\users\diwan\appdata\local\pip\cache\wheels\17\cd\ed\2d49e9bac69cf09382e4c7cc20a2511202b48324b87db26019
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

  DEPRECATION: Building 'mysql.connector' using the legacy setup.py bdist_wheel mechanism, which will be removed in a future version. pip 25.3 will enforce this behaviour change. A possible replacement is to use the standardized build interface by setting the `--use-pep517` option, (possibly combined with `--no-build-isolation`), or adding a `pyproject.toml` file to the source tree of 'mysql.connector'. Discussion can be found at https://github.com/pypa/pip/issues/6334

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
import mysql.connector

In [10]:
connc = mysql.connector.connect(host='localhost',user='root',password='',database='world')

In [13]:
pd.read_sql_query("SELECT * FROM city WHERE CountryCode LIKE 'USA'",connc)

C:\Users\diwan\AppData\Local\Temp\ipykernel_23008\3396207957.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("SELECT * FROM city WHERE CountryCode LIKE 'USA'",connc)

       ID          Name CountryCode        District  Population
0    3793      New York         USA        New York     8008278
1    3794   Los Angeles         USA      California     3694820
2    3795       Chicago         USA        Illinois     2896016
3    3796       Houston         USA           Texas     1953631
4    3797  Philadelphia         USA    Pennsylvania     1517550
..    ...           ...         ...             ...         ...
269  4062       Kenosha         USA       Wisconsin       89447
270  4063         Elgin         USA        Illinois       89408
271  4064        Odessa         USA           Texas       89293
272  4065        Carson         USA      California       89089
273  4066    Charleston         USA  South Carolina       89063

[274 rows x 5 columns]

In [14]:
## best practice

In [16]:
!pip install sqlalchemy

Collecting sqlalchemy
  Downloading sqlalchemy-2.0.45-cp311-cp311-win_amd64.whl.metadata (9.8 kB)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.3.0-cp311-cp311-win_amd64.whl.metadata (4.2 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\diwan\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (4.15.0)
Downloading sqlalchemy-2.0.45-cp311-cp311-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ------------------- -------------------- 1.0/2.1 MB 5.6 MB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 4.6 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 4.4 MB/s  0:00:00
Downloading greenlet-3.3.0-cp311-cp311-win_amd64.whl (301 kB)
Installing collected packages: greenlet, sqlalchemy

   ---------------------------------------- 0/2 [greenlet]
   ---------------------------------------- 0/2 [greenlet]
   ---------------------------------------- 0/2 [greenlet]
   ---------------------------------------- 0/2 [greenlet]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   ---------------------------------------- 2/2 [sqlalchemy]

Successfully installed greenlet-3.3.0 sqlalchemy-2.0.45

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [19]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine(
    "mysql+mysqlconnector://root:@localhost:3306/world"
)

dfsql = pd.read_sql(
    "SELECT * FROM city WHERE CountryCode = 'USA'",
    engine
)

dfsql.head(25)

      ID                Name CountryCode              District  Population
0   3793            New York         USA              New York     8008278
1   3794         Los Angeles         USA            California     3694820
2   3795             Chicago         USA              Illinois     2896016
3   3796             Houston         USA                 Texas     1953631
4   3797        Philadelphia         USA          Pennsylvania     1517550
5   3798             Phoenix         USA               Arizona     1321045
6   3799           San Diego         USA            California     1223400
7   3800              Dallas         USA                 Texas     1188580
8   3801         San Antonio         USA                 Texas     1144646
9   3802             Detroit         USA              Michigan      951270
10  3803            San Jose         USA            California      894943
11  3804        Indianapolis         USA               Indiana      791926
12  3805       San Francisco         USA            California      776733
13  3806        Jacksonville         USA               Florida      735167
14  3807            Columbus         USA                  Ohio      711470
15  3808              Austin         USA                 Texas      656562
16  3809           Baltimore         USA              Maryland      651154
17  3810             Memphis         USA             Tennessee      650100
18  3811           Milwaukee         USA             Wisconsin      596974
19  3812              Boston         USA         Massachusetts      589141
20  3813          Washington         USA  District of Columbia      572059
21  3814  Nashville-Davidson         USA             Tennessee      569891
22  3815             El Paso         USA                 Texas      563662
23  3816             Seattle         USA            Washington      563374
24  3817              Denver         USA              Colorado      554636