In [1]:
import pandas as pd
from sklearn.preprocessing import Binarizer

df = pd.read_csv("train.csv", usecols=["Age", "Survived"]).dropna()

age_binarizer = Binarizer(threshold=18)

df["is_child"] = age_binarizer.fit_transform(df[["Age"]])

df[["Age", "is_child", "Survived"]].head(10)

     Age  is_child  Survived
0   22.0       1.0         0
1   38.0       1.0         1
2   26.0       1.0         1
3   35.0       1.0         1
4   35.0       1.0         0
6   54.0       1.0         0
7    2.0       0.0         0
8   27.0       1.0         1
9   14.0       0.0         1
10   4.0       0.0         1

In [5]:
df = pd.read_csv("train.csv", usecols=["Age", "Fare", "Survived"]).dropna()

# Binarize Fare
fare_binarizer = Binarizer(threshold=30)
df["high_fare"] = fare_binarizer.fit_transform(df[["Fare"]])

# Inspect result
df[["Fare", "high_fare", "Survived"]].head(10)

       Fare  high_fare  Survived
0    7.2500        0.0         0
1   71.2833        1.0         1
2    7.9250        0.0         1
3   53.1000        1.0         1
4    8.0500        0.0         0
6   51.8625        1.0         0
7   21.0750        0.0         0
8   11.1333        0.0         1
9   30.0708        1.0         1
10  16.7000        0.0         1